- Standard deviation - How spred data is from avarage     | sqrt(variance)

- Variance ([(x-mean(x)]^2/x) - measure of the despersion of a set of data points around the mean

Higher the standard deviation higher the risk

## Calculating the Risk of a Security

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for ticker in tickers:
    sec_data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG      BEI.DE
Date
2022-11-17  140.869995  102.099998
2022-11-18  142.570007  102.349998
2022-11-21  144.380005  103.449997
2022-11-22  145.619995  103.349998
2022-11-23  146.449997  103.900002

In [4]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2022-11-17 -0.006157  0.009348
2022-11-18  0.011996  0.002446
2022-11-21  0.012616  0.010690
2022-11-22  0.008552 -0.000967
2022-11-23  0.005684  0.005308

[4003 rows x 2 columns]

### PG

In [6]:
# Mean - avarage daily returns 
sec_returns['PG'].mean()

0.0003206764137816731

In [7]:
# avarage annual returns 
sec_returns['PG'].mean()*250

0.08016910344541828

In [8]:
# daily standard deaviation 
sec_returns['PG'].std()

0.011879003038779378

In [9]:
# Annaul standerd deaviation (std*250**0.5)
# annual variation = var*250
# var*250 = squar(std_deviation)*250

sec_returns['PG'].std()*250**0.5

0.1878235296730216

In [10]:
# Both companies anuual std
print(sec_returns['PG'].std()*250**0.5)
print(sec_returns['BEI.DE'].std()*250**0.5)

0.1878235296730216
0.2186492814826161

In [11]:
# Bith companies annual mean std together
sec_returns[['PG', 'BEI.DE']].mean()*250

PG        0.080169
BEI.DE    0.054095
dtype: float64

In [12]:
# Bith companies mean std together
# sec_returns['PG', 'BEI.DE'].mean()*250

In [13]:
# Bith companies mean std together
sec_returns[['PG', 'BEI.DE']].mean()*250

PG        0.080169
BEI.DE    0.054095
dtype: float64

In [14]:
# Bith companies mean std together
sec_returns[['PG', 'BEI.DE']].std()*250**0.5

PG        0.187824
BEI.DE    0.218649
dtype: float64

## Benifit of Portfolio Diversity

### Covariance and correlation

- corelation - mutual relation btw two or more  variables
- Covariance(X, X) = variance of X


- corelation cofficient **[cov(x, y)/(std(x)*std(y)]**

    * -1 = perfect negative corelation(perfecty dependent), if one increases other decreases (-ve slope)
    * -ve = if one increases other decreases (-ve slope)
    * 1 = perfect positive corelation(perfecty dependent), if one increases other increases and visa versa (+ve slope)
    * +ve = if one increases other increases and visa versa (+ve slope)

In [15]:
PG_var = sec_returns['PG'].var()
PG_var

0.0001411107131953297

In [16]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00019123003317145714

In [17]:
# Annual variace
PG_var_a = sec_returns['PG'].var()*250
PG_var_a

0.035277678298832424

In [18]:
# Annual variace
BEI_var_a = sec_returns['BEI.DE'].var()*250
BEI_var_a

0.04780750829286429

Covariance

In [19]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000141  0.000044
BEI.DE  0.000044  0.000191

In [20]:
# Annual covariance
cov_matrix_a = sec_returns.cov()*250
cov_matrix_a

              PG    BEI.DE
PG      0.035278  0.011021
BEI.DE  0.011021  0.047808

Corelation [cov(x, y)/(std(x)*std(y)]
- this correlation  between retuns and not prices

In [21]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.267883
BEI.DE  0.267883  1.000000

### Portfolio variance
 - Calculating variability of a portfolio of two or more stock
 - for two stocks (w1s1 + w2s2)^2 = w1^2*s1^2 + 2*w1*s1*w2*s2*p12 + w2^2*s2^2

In [22]:
 weights = np.array([0.5, 0.5])

Portfolio Variance [vector multipication (a*B)^2 = a'Ba]
- (w*Cov)^2 = wT * Cov * w

In [23]:
portfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
portfolio_var

0.026281630800357638

Portfolio Volatility / Standard deviation

In [24]:
portfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))**0.5
portfolio_vol

0.1621161028410122

In [25]:
print(f"{round(portfolio_vol, 5)*100}%")

16.212%

### Risks

- Systematic risk/ Un-diverifiable risk - depends on variance of individual securities (can not normally  - war, reccsion etc )

- Un systematic risk / Diversifiable risk - company specific risk (can normally be minimised by diversification)

### Calculating Diversifiable and Non-Diversiable risk of a Portfolio

In [27]:
weights = [0.5, 0.5]

In [28]:
weights[0], weights[1]

(0.5, 0.5)

#### Diversifiable Risk

diversifiable risk = portfolio variance - weighted annual variances

wrong method - think?

In [30]:
PG_var_a = sec_returns[['PG']].var()*250 # 2 dimention
PG_var_a

PG    0.035278
dtype: float64

In [33]:
np.ndim(PG_var_a)

1

In [34]:
BEI_var_a = sec_returns[['BEI.DE']].var()*250
BEI_var_a

BEI.DE    0.047808
dtype: float64

In [35]:
# calculating diversifiable risk
dr = portfolio_var - (weights[0]**2* PG_var_a) - (weights[1] ** 2 * BEI_var_a)
dr

BEI.DE   NaN
PG       NaN
dtype: float64

In [37]:
float(PG_var_a)

0.035277678298832424

write method - 1d

In [38]:
PG_var_a = sec_returns['PG'].var()*250 # 2 dimention
PG_var_a

0.035277678298832424

In [39]:
BEI_var_a = sec_returns['BEI.DE'].var()*250
BEI_var_a

0.04780750829286429

In [40]:
# calculating diversifiable risk
dr = portfolio_var - (weights[0]**2* PG_var_a) - (weights[1] ** 2 * BEI_var_a)
dr

0.00551033415243346

In [42]:
print(f"{round(dr*100, 3)} % ")

0.551 %

Non Diversifiable Risk

In [43]:
n_dr_1 = portfolio_var - dr
n_dr_1

0.020771296647924178

In [44]:
n_dr_2 = (weights[0] ** 2 * PG_var_a) + (weights[1] ** 2 * BEI_var_a)
n_dr_2

0.020771296647924178

In [45]:
n_dr_1 == n_dr_2

True